
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: 'Karla', sans-serif;
}

html, body {
  height: 100%;
  font-size: 16px;
  background-color: #F5F7FB;
}

h1 {
  font-size: 2.2rem;
}

.app {
  margin: 0 100px;
}


.app .start-quiz {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.question-element {
  display: flex;
  flex-direction: column;

  margin: 40px 0;
  gap: 12px;
}

.multiple-choice {
  display: flex;
  gap: 15px;


}

.line {
  background-color: #DBDEF0;
  opacity: 50%;

}


button {
  font-size: 0.9rem;
  cursor: pointer;
}

.button1 {
  background: #4D5B9E;
  border-radius: 15px;
  width: 190px;
  height: 45px;
  left: 179px;
  top: 314px;
  color: white;
  border: transparent;
}

.question-text {
  font-weight: 700;
  color: #293264;
  font-size: 1.3rem;
  
}

.answer-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  color: #293264;
  border: 1px solid #4D5B9E;
  background: #F5F7FB;
  border-radius: 8px;
  padding: 5px 15px;
}


.isHeldColor {
  background-color: #D6DBF5;
  color: #293264;
  border: transparent;
}

.choice-not-chosen {
  color: rgb(231, 23, 23);
}

.results-text {
  color: black;
}

