*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: "Karla", sans-serif;
}

html,
body {
  height: 100%;
  font-size: 18px;
  background-color: #f5f7fb;
  scroll-behavior: smooth;
}

h1 {
  font-size: 2.2rem;
}

.app {
  margin: 0 100px;
}

.app .start-quiz {
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.question-element {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  gap: 18px;
}

.multiple-choice {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

@media screen and (max-width: 569px) {
  .multiple-choice {
    justify-content: center;
    align-items: center;
  }
  .question-element {
    text-align: center;
  }

  .button-outlay {
    justify-content: center;
  }

  .button1 {
    margin-bottom: 20px;
  }
  .results-text {
    margin-bottom: 20px;
  }
}

.line {
  background-color: #dbdef0;
  opacity: 50%;
}

button {
  font-size: 0.9rem;
  cursor: pointer;
}

.button1 {
  background: #4d5b9e;
  border-radius: 15px;
  width: 190px;
  height: 45px;
  left: 179px;
  top: 314px;
  color: white;
  border: transparent;
}

.question-text {
  font-weight: 700;
  color: #293264;
  font-size: 1.3rem;
}

.answer-button-text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  color: #293264;
  border: 1px solid #4d5b9e;
  background: #f5f7fb;
  border-radius: 8px;
  padding: 5px 15px;
}

.isHeldColor {
  background-color: #d6dbf5;
  color: #293264;
  border: transparent;
}

.choice-not-chosen {
  color: rgb(231, 23, 23);
  margin-bottom: 20px;
}

.results-text {
  color: black;
}

.button-outlay {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
